<%= form_tag(controller: controller, action: "login", class: "login") do %>
  <div>
    <%= label_tag(:login_id, login_id) %>
    <%= text_field_tag(:login_id) %>
  </div>

  <div>
    <%= label_tag(:worthless_password, "Password:") %>
    <%= password_field_tag(:worthless_password) %>
  </div>

  <%= submit_tag("Log in", class: "submit") %>
<% end %>
