<h1>All Markets</h1>
<table>
  <thead>
    <tr>
      <th>
        Name <%= button_to "&#8595".html_safe, "/markets/name_sort"%>
      </th>
      <th>
        Address
      </th>
      <th>
        City
      </th>
      <th>
        County
      </th>
      <th>
        State <%= button_to "&#8595".html_safe, "/markets/state_sort"%>
      </th>
      <th>
        Zip Code
      </th>
    </tr>
  </thead>
  <tbody>
    <% Market.all.each do |market|%>
    <tr>
      <td>
        <%= link_to "#{market.name}", "/all_markets/#{market.id}" %>
      </td>
      <td>
        <%= market.address%>
      </td>
      <td>
        <%= market.city %>
      </td>
      <td>
        <%= market.county %>
      </td>
      <td>
        <%= market.state %>
      </td>
      <td>
        <%= market.zip.to_s.length == 5 ? market.zip : "" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
