<section id="login-form" class="center">
  <header>
    <h1>Welcome to the Market Login</h1>
  </header>

  <%= form_tag(controller: "markets", action: "login", class: "login") do %>
    <div>
      <%= label_tag(:login_id, "Market ID:") %>
      <%= text_field_tag(:login_id) %>
    </div>

    <div>
      <%= label_tag(:worthless_password, "Password:") %>
      <%= password_field_tag(:worthless_password) %>
    </div>

    <%= submit_tag("Log in", class: "submit") %>
  <% end %>
</section>
