<h1>All Markets</h1>

<div class="button_block">
  <%= link_to "Back to Homepage", root_path, method: :get %>
</div>

<table>
<tr>
  <th>
    ID
  </th>
  <th>
    Name
  </th>
  <th>
    Address
  </th>
  <th>
    City
  </th>
  <th>
    County
  </th>
  <th>
    State
  </th>
  <th>
    Zip
  </th>
  <th class="center">
    Details
  </th>
</tr>
<tbody>
  <% @markets.each do |market| %>
  <tr>
    <td>
      <%= market.id %>
    </td>
    <td>
      <%= market.name %>
    </td>
    <td>
      <%= market.address %>
    </td>
    <td>
      <%= market.city %>
    </td>
    <td>
      <%= market.county %>
    </td>
    <td>
      <%= market.state %>
    </td>
    <td>
      <%= market.zip %>
    </td>
    <td class="center">
      <% if current_page?(controller: 'users', action: 'index',) %>
        <%= link_to "Details", controller: 'users', action: 'show', id: market.id %>
      <% elsif current_page?(controller: 'markets', action: 'index') %>
        <%= link_to "Details", controller: 'markets', action: 'show', id: market.id %>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
