<h1><%= @market.name %></h1>
<table>
<tr>
  <th>
    ID
  </th>
  <th>
    Name
  </th>
  <th>
    Address
  </th>
  <th>
    City
  </th>
  <th>
    County
  </th>
  <th>
    State
  </th>
  <th>
    Zip
  </th>
  <th class="center">
    Vendors
  </th>
  <th class="center">
    Edit
  </th>
</tr>
<tbody>
  <tr>
    <td>
      <%= @market.id %>
    </td>
    <td>
      <%= @market.name %>
    </td>
    <td>
      <%= @market.address %>
    </td>
    <td>
      <%= @market.city %>
    </td>
    <td>
      <%= @market.county %>
    </td>
    <td>
      <%= @market.state %>
    </td>
    <td>
      <%= @market.zip %>
    </td>
    <td class="center">
      <% if current_page?(controller: 'users', action: 'show') %>
        <%= link_to "Vendors", vendors_users_path(@market) %>
      <% elsif current_page?(controller: 'markets', action: 'show')%>
        <%= link_to "Vendors", vendors_market_path(@market) %>
      <% end %>
    </td>
    <td class="center">
      <% if current_page?(controller: 'markets', action: 'show') %>
      <%= link_to "Edit", edit_market_path %>
      <% end %>
    </td>
  </tr>
</tbody>
</table>
