<h1>Vendors at <%= @market.name %></h1>

<% if current_page?(controller: 'markets', action: 'vendors_index') %>
<!-- CREATE VENDOR BUTTON -->
<p class="center">(create vendor button)</p>
<% end %>
<table>
<tr>
  <th>
    ID
  </th>
  <th>
    Name
  </th>
  <th>
    Employees
  </th>
  <th>
    Market ID
  </th>
  <% if current_page?(controller: 'markets', action: 'vendors_index')%>
    <th class="center">
      Details
    </th>
  <% end %>
  <% if current_page?(controller: 'markets', action: 'vendors_index')%>
    <th class="center">
      Edit
    </th>
  <% end %>
  <% if current_page?(controller: 'markets', action: 'vendors_index')%>
    <th class="center">
      Delete
    </th>
  <% end %>

</tr>
<tbody>
  <% @vendors.each do |vendor| %>
  <tr>
    <td>
      <%= vendor.id %>
    </td>
    <td>
      <%= vendor.name %>
    </td>
    <td>
      <%= vendor.num_employees %>
    </td>
    <td>
      <%= vendor.market_id %>
    </td>
    <% if current_page?(controller: 'markets', action: 'vendors_index')%>
      <td class="center">
        <%= link_to "Details", vendor_market_path(vendor) %>
      </td>
    <% end %>
    <% if current_page?(controller: 'markets', action: 'vendors_index')%>
      <td class="center">
        <%= link_to "Edit", edit_vendor_market_path %>
      </td>
    <% end %>
    <% if current_page?(controller: 'markets', action: 'vendors_index')%>
      <td class="center">
        <%= link_to "Delete", "#" %>
      </td>
    <% end %>

  </tr>
  <% end %>
</tbody>
</table>
