<main>
  <section class="vendor-money">
    <div class="money">
      <h3 class="section-header">Revenue</h3>

      <h2>$ <%= @sum / 100 %>.<%= @sum % 100 %> </h2>
      <h4>This Month</h4>

      <h2>$<%= @total_amount / 100 %>.<%= @total_amount % 100  %></h2>
      <h4>Total</h4>
    </div>

    <div class="sales">
      <h3 class="section-header">Sales</h3>

      <ul>
        <% @sales.each do |sale| %>
        <li>
          #<%= sale.id %>
          $<%= sale.amount %>
          <%= sale.purchase_time.strftime("%m.%d.%y") %>
        </li>
        <% end %>
      </ul>
    </div>

    <!-- button for new sales -->
  </section>

  <section class="vendor-products">
    <h3 class="section-header">Products</h3>

    <div>
      <ul>
        <li>

        </li>
      </ul>
    </div>
  </section>
</main>
