<header>
  <h1>Welcome to the Vendor Dashboard</h1>
</header>

<main>
  <section class="vendor-money">
    <div class="money">
      <h3 class="section-header">Revenue</h3>

      <div>
        <h2>$<%= @sum / 100 %>.<%= @sum % 100 %> </h2>
        <h4>This Month</h4>
      </div>

      <div>
        <h2>$<%= @total_amount / 100 %>.<%= @total_amount % 100  %></h2>
        <h4>Total</h4>
      </div>
    </div>

    <div class="sales">
      <%= link_to "All Sales", "/vendors/#{@vendor.id}/sales" %>
      <h3 class="section-header">Recent Sales</h3>

      <ul>
        <% @sales.reverse.each do |sale| %>
        <li>
          <div>
            #<%= sale.id %>
          </div>
          <div>
            $<%= sale.amount / 100 %>.<%= sale.amount % 100 %>
          </div>
          <div>
           <%= sale.purchase_time.strftime("%m.%d.%y") %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </section>

  <section class="vendor-products">
    <%= link_to "Manage", "/vendors/#{@vendor.id}/products" %>
    <h3 class="section-header">Products</h3>

    <div>
      <ul>
        <% @all_products.each do |product| %>
        <li>
          <%= product.name %>
        </li>
        <% end %>
      </ul>
    </div>
  </section>
</main>
