<h1 class="center">welcome to the vendor dashboard</h1>

<main>
  <section class="vendor-money">
    <div class="money">
      <h3 class="section-header">Revenue</h3>

      <h2>$ <%= @sum / 100 %>.<%= @sum % 100 %> </h2>
      <h4>This Month</h4>

      <h2>$<%= @total_amount / 100 %>.<%= @total_amount % 100  %></h2>
      <h4>Total</h4>
    </div>

    <div class="sales">
      <h3 class="section-header">Sales</h3>

      <ul>
        <% @sales.each do |sale| %>
        <li>
          #<%= sale.id %>
          $<%= sale.amount / 100 %>.<%= sale.amount % 100 %>
           <%= sale.purchase_time.strftime("%m.%d.%y") %>
        </li>
        <% end %>
      </ul>

      <%= link_to "All Sales", "/vendors/#{@vendor.id}/sales" %>
    </div>


    <!-- button for new sales -->
  </section>

  <section class="vendor-products">
    <%= link_to "Manage", "/vendors/#{@vendor.id}/products" %>
    <h3 class="section-header">Products</h3>

    <div>
      <ul>
        <% @all_products.each do |product| %>
        <li>
          <%= product.name %>
        </li>
        <% end %>
      </ul>
    </div>
  </section>
</main>
