<h2>Use this form to Edit Vendor Information</h2>

<%= form_for @vendor do |f| %>

  <fieldset class="form">

    <%= f.label :name %>
    <%= f.text_field :name, required: "required" %>

    <%= f.label :no_of_employees %>
    <%= f.text_field :no_of_employees %>


  </fieldset>
    <%= f.submit %>
<% end %>
