<h1> Use this form to Edit Vendor Information</h1>
<%= form_for @edit do |f| %>

<fieldset>
  <legend>Edit Vendor Details </legend>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :no_of_employees %>
  <%= f.text_field :no_of_employees %>

</fieldset>
<%=  f.submit "Save My Changes" %>

<% end %>
<br>
  <a href="/vendors/">View All Vendors</a>
<br>
<br>
  <a href="/"> Home Page</a>
