<h1>Edit this Vendor</h1>


<%= form_for @vendor do |f| %>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :no_of_employees %>
    <%= f.text_field :no_of_employees %>

    <%= f.label :market_id %>
    <%= f.text_field :market_id %>

  </fieldset>

  <%= f.submit %>

  <% end %>
