<div class="padding-wrapper">
  <table class="market-location">
    <tr>
      <td colspan="4">
        <h2><%= link_to "View sales just for the current month.", "./sales/current", title: "Click here to review this month's sales." %></h2>
      </td>
    </tr>
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.product.name %></td>
        <td>$<%= sale.dollar_amount %></td>
        <td><%= sale.date %></td>
        <td><%= sale.time %></td>
      </tr>
  <% end %>
  </table>
</div>
