<h1> <%= "#{@vendor.name}" %> </h1>

  <ul>
    <li>Farmer's Market: <%= @vendor_market.name %> </li>
    <li>Number of Employees: <%= @vendor.no_of_employees %></li>
  </ul>

<%= link_to 'Products', vendor_products_path(@vendor.id) %>
<%= link_to 'Sales', vendor_sales_path(@vendor.id) %>
<%= link_to 'Edit Vendor Details', edit_vendor_path(@vendor.id) %>
<%= link_to "Back to #{@vendor_market.name}", market_path(@vendor_market.id) %>
