<h1>Ima Vendor!</h1>

<%= render 'vendor_attributes' %>

<h3>Products</h3>

<%= link_to 'Create a new product for this vendor', new_vendor_product_path(@vendor) %>

<ul>
  <% @vendor.products.each do |product| %>
    <li><%= link_to product.name, vendor_product_path(@vendor, product) %></li>
    <%= link_to "Edit this product", edit_vendor_product_path(@vendor, product) %>
    <%= button_to "Delete this product", vendor_product_path(@vendor, product),
        method: :delete, data: { confirm: "Are you sure you want to delete this product?" } %>
    <%= link_to "Create a new sale for this product",
        new_vendor_sale_path(@vendor, :product_id => product.id) %>
  <% end %>
</ul>

<h3>Sales</h3>

<%= render 'shared/sales_table', { sales: @sales } %>

<h3>Current Month's Sales</h3>
<!-- uncomment for debugging -->
<p>for the month of: <%= Vendor.current_month %> </p>

<%= render 'shared/sales_table', { sales: @current_month_sales } %>
