<h1> Vendor Detail for <%= @vendor.name %></h1>

<table>
  <thead>
    Details
  </thead>

  <tr>
    <th> ID </th>
    <th> Name </th>
    <th> Number of Employees </th>
    <th> Market Name </th>
  </tr>

  <tr>
    <td> <%= @vendor.id %> </td>
    <td> <%= @vendor.name %></td>
    <td> <%= @vendor.num_employees %> </td>
    <td> <%= @market.name %> </td>
  </tr>

</table>


<%= link_to "Add New Vendor", new_market_vendor_path(@market.id) %>

<table>
  <thead>
    Product List
  </thead>
  <tr>
    <th> Name </th>
    <th> Monthly Sales </th>
    <th> Total Sales </th>
  </tr>
  <% @vendor_products.each do |product| %>
  <!-- DRY up with map or something saw in style guide -->
  <tr>
    <td> <%= product.name %> </td>

    <% sales = product.sales %>
    <% amounts = [] %>
    <% monthly_amounts = [ ] %>

    <% sales.each do |sale| %>

      <% if sale.purchase_time.month == @current_month %>
        <% monthly_amounts.push(sale.amount) %>
      <% end %>
      <% month_total = monthly_amounts.reduce(:+) %>
      <% amounts.push(sale.amount) %>
      <% total_amounts = amounts.reduce(:+) %>

    <td> <%= number_to_currency(month_total) %> </td>
    <td> <%= number_to_currency(total_amounts) %> </td>
    <% end %>
  <% end %>
  </tr>
</table>
