<h1>Ima Vendor!</h1>

<%= render 'vendor_attributes' %>

<h3>Products</h3>

<%= link_to 'Create a new product for this vendor', new_vendor_product_path(@vendor) %>

<ul>
  <% @vendor.products.each do |product| %>
    <li><%= link_to product.name, vendor_product_path(@vendor, product) %></li>
    <%= link_to "Edit this product", edit_vendor_product_path(@vendor, product) %>
    <%= button_to "Delete this product", vendor_product_path(@vendor, product),
        method: :delete, data: { confirm: "Are you sure you want to delete this product?" } %>
  <% end %>
</ul>

<!--
# see my sales
# - total sales amount

# see current month's sales
# - current month sales amount -->
