<h1><%= @vendor.name %></h1>
<table>
<tr>
  <th>
    ID
  </th>
  <th>
    Name
  </th>
  <th>
    Number of Employees
  </th>
  <% if params[:market_user] == "false" %>
  <th class="center">
    Sales
  </th>
  <th class="center">
    Products
  </th>
  <% elsif params[:market_user] == "true" %>
  <th class="center">
    Edit
  </th>
  <th class="center">
    Delete
  </th>
  <% end %>
</tr>
<tbody>
  <tr>
    <td>
      <%= @vendor.id %>
    </td>
    <td>
      <%= @vendor.name %>
    </td>
    <td>
      <%= @vendor.num_employees %>
    </td>
    <% if params[:market_user] == "false" %>
    <td class="center">
      <%= link_to "#{@vendor.name}'s sales", sales_vendor_path(@vendor.id) %>
    </td>
    <td class="center">
      <%= link_to "#{@vendor.name}'s products", products_vendor_path(@vendor.id) %>
    </td>
    <% elsif params[:market_user] == "true" %>
      <td class="center">
        <%= link_to "Edit", edit_vendor_path(market_id: params[:market_id]) %>
      </td>
      <td class="center">
        <%= button_to "Delete", vendor_path(id: @vendor.id, market_id: params[:market_id]), method: :delete, data: { confirm: "Are you sure?"} %>
      </td>
    <% end %>

  </tr>
</tbody>
</table>
