<h1> Vendor Details for <%= @vendor.name %></h1>

<table>
  <thead>
    Vendor Details
  </thead>

  <tr>
    <th> ID </th>
    <th> Name </th>
    <th> Number of Employees </th>
    <th> Market Name </th>
  </tr>

  <tr>
    <td> <%= @vendor.id %> </td>
    <td> <%= @vendor.name %></td>
    <td> <%= @vendor.num_employees %> </td>
    <td> <%= @market.name %> </td>

  </tr>

</table>
<!-- -------------------------------------- -->
<h2> Sales </h2>

<%= link_to "New Transaction", new_vendor_sale_path(@vendor.id) %>



<% vendor_total_amounts = [ ] %>
<% vendor_monthly_amounts = [ ] %>

<% @vendor_sales.each do |sale| %>

  <% vendor_total_amounts.push(sale.amount) %>

  <% if sale.purchase_time.month == @current_month %>
    <% vendor_monthly_amounts.push(sale.amount) %>
    <% else %>
    <% vendor_monthly_amounts.push(0) %>
  <% end %>

<% end %>

<% month_total = vendor_monthly_amounts.reduce(:+) %>
<% grand_total = vendor_total_amounts.reduce(:+) %>

<p> Current Month Sales: <%= link_to "#{number_to_currency(month_total)}", "/vendors/#{@vendor.id}/sales/#{@current_month}" %> </p>
<p> Total Sales: <%= link_to "#{number_to_currency(grand_total)}", vendor_sales_path(@vendor.id) %> </p>

<!-- -------------------------------------- -->

<h2>Products</h2>

<%= link_to "Add New Product", new_vendor_product_path(@vendor.id) %>

<table>
  <thead>
    Product List
  </thead>
  <tr>
    <th> Name </th>
    <th> Monthly Sales </th>
    <th> Total Sales </th>
  </tr>
  <% @vendor_products.each do |product| %>
  <!-- DRY up with map or something saw in style guide -->
  <tr>
    <td> <%= product.name %> </td>

    <% sales = product.sales %>
    <% amounts = [] %>
    <% monthly_amounts = [ ] %>

    <% sales.each do |sale| %>

      <% if sale.purchase_time.month == @current_month %>
        <% monthly_amounts.push(sale.amount) %>
      <% end %>
      <% month_total = monthly_amounts.reduce(:+) %>
      <% amounts.push(sale.amount) %>
      <% total_amounts = amounts.reduce(:+) %>

    <td> <%= number_to_currency(month_total) %> </td>
    <td> <%= number_to_currency(total_amounts) %> </td>
    <% end %>
    <td> <%= link_to "Edit", "/vendors/#{product.vendor_id}/products/#{product.id}/edit" %></td>
    <td> <%= link_to "X", "/vendors/#{product.vendor_id}/products/#{product.id}", method: :delete, data: { confirm: "Are you sure you want to delete #{product.name}?"} %> </td>
  <% end %>
  </tr>
</table>
