<h1>Vendor Details</h1>

<table>
  <th>Name</th>
  <th>Number of Employees</th>
  <th>Name of Market</th>

  <tr>
    <td><%= @vendor.name %></td>
    <td><%= @vendor.no_of_employees %></td>
    <% @market = Market.find(@vendor.market_id) %>
    <td><%= @market.name %></td>

  </tr>

</table>

<h2>The Products for This Vendor</h2>

<table>

  <% @display_products.each do |product| %>
  <tr>
    <td><%= product.name %></td>

    <td><%= button_to "Edit Product", edit_vendor_product_path(@vendor.id, product.id), method: "get" %></td>

  </tr>
  <% end %>

</table>

<%= button_to "New product", new_vendor_product_path(@vendor.id), method: "get" %>
