<h1><%= "#{@product.name}" %></h1>
<table>
<tr>
  <th>
    ID
  </th>
  <th>
    Name
  </th>
  <th>
    Edit
  </th>
  <th>
    delete
  </th>
  <th>
    Create Sale
  </th>
</tr>
<tbody>
    <tr>
      <td>
        <%= @product.id %>
      </td>
      <td>
        <%= @product.name %>
      </td>
      <td>
        <%= link_to "Edit this product", edit_product_path %>
      </td>
      <td>
        <%= button_to "Delete", product_path(product_id: @product.id), method: :delete, data: { confirm: "Are you sure?"} %>
      </td>
      <td>
        <%= link_to "Create a sale for this product", new_sale_path %>
      </td>
    </tr>
</tbody>
</table>
