<h1> <%=@vendor.name%> </h1>

<table>
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Market ID
      </th>
      <th>
        Number of Employees
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= @vendor.id %>
      </td>
      <td>
        <%= @vendor.market_id %>
      </td>
      <td>
        <%= @vendor.no_of_employees %>
      </td>
      <td>
        <%= link_to "edit", edit_market_vendor_path(@vendor.market_id, @vendor.id)%>
      </td>
      <td>
        <%= button_to "Delete", market_vendor_path, :confirm => "Are you sure you want to delete #{@vendor.name}?", :method => :delete %>
      </td>
    </tr>
  </tbody>
</table>
