<section class="homepage">
  <div>
    <h1>Welcome back</h1>
    <h1><%= @vendor.name %></h1>
    <h2>put a brief description here of what the app does and who can use it or maybe something else I dunno</h2>
    <p>I would like to...</p>
      <%= link_to "Add/Edit Products", "/markets/#{@vendor.market_id}/vendors/#{@vendor.id}/products/", class: "button_link"%>
      <%= link_to "Add a Sale", "/markets/#{@vendor.market_id}/vendors/#{@vendor.id}/sales/new", class: "button_link" %>
  </div>


  <div>
    <h1>Sales Information</h1>
    <h3>Total Sales: $<%= @total_sales %></h3>
    <table>
      <thead>
        <tr>
          <td>
            Amount
          </td>
          <td>
            Purchase Time
          </td>
          <td>
            Vendor Id
          </td>
          <td>
            Product Id
          </td>
        </tr>
      </thead>
      <tbody>
        <% @vendor.sales.all.each do |sale| %>
        <tr>
          <td>
            <%= sale.amount %>
          </td>
        <td>
          <%= sale.purchase_time %>
        </td>
        <td>
          <%= sale.vendor_id %>
        </td>
        <td>
          <%= sale.product_id %>
        </td>
        <% end %>
        </tr>
      </tbody>
    </table>

    <h3>Monthly Sales for <%= Date.today.strftime("%B") %>: $<%= @month_sales %></h3>
    <table>
      <thead>
        <tr>
          <td>
            Amount
          </td>
          <td>
            Purchase Time
          </td>
          <td>
            Vendor Id
          </td>
          <td>
            Product Id
          </td>
        </tr>
      </thead>
      <tbody>
        <% @vendor.sales.all.each do |sale| %>
          <% if sale.purchase_time.to_date.strftime("%Y-%m") == @date_today %>
            <tr>
              <td>
                <%= sale.amount %>
              </td>
              <td>
                <%= sale.purchase_time %>
              </td>
              <td>
                <%= sale.vendor_id %>
              </td>
              <td>
                <%= sale.product_id %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
