<%= form_for item do |f| %>
    <span class="form_field">
        <%= f.label first_label, "#{first_desc}" %>
        <%= f.text_field first_label, required: true, autofocus: true, placeholder: first_placeholder, value: first_value %>
    </span>
    <span class="form_field">
        <%= f.label second_label, "#{second_desc}" %>
        <%= f.text_field second_label, placeholder: second_placeholder, value: second_value %>
    </span>
    <span class="form_field">
        <%= f.label third_label, "#{third_desc}" %>
        <%= f.text_field third_label, placeholder: third_placeholder, value: third_value %>
    </span>
    <span class="form_field">
        <%= f.label fourth_label, "#{fourth_desc}" %>
        <%= f.text_field fourth_label, placeholder: fourth_placeholder, value: fourth_value %>
    </span>
    <span class="form_field">
        <%= f.label fifth_label, "#{fifth_desc}" %>
        <%= f.text_field fifth_label, placeholder: fifth_placeholder, value: fifth_value %>
    </span>
    <span class="form_field">
        <%= f.label sixth_label, "#{sixth_desc}" %>
        <%= f.text_field sixth_label, placeholder: sixth_placeholder, value: sixth_value %>
    </span>
    <%= f.submit submit_button %>
<% end %>
