<body class="market-background">
<%= button_to "Add Another Vendor", new_market_vendor_path(@market.id), method: :get %>
<div class="text_box">
<table>
  <tr>
    <th>Name</th>
    <th>Number of Employees</th>
    <th></th>
    <th></th>
  </tr>
<% @vendors.each do |vendor| %>
  <tr>
    <td><%=vendor.name%></td>
    <td><%=vendor.num_of_employees%></td>
    <td><%=button_to "Edit Vendor", edit_market_vendor_path(@market.id, vendor.id), method: :get %>
    <td><%=button_to "Delete Vendor", market_vendor_path(@market.id, vendor.id), method: :delete, data: {confirm: "Are you sure?"} %>
  </tr>
  <% end %>
</table>
</div>
</body>
