<%= render "shared/header" %>
<main>
  <h2> <%= link_to "Add a Market", new_market_path %> </h2>
  <%= render partial: "shared/all_markets", path: "market_path(market.id)" %>
  <h2> <%= link_to "Add a Vendor", new_by_market_path %> </h2>
  <%= render "shared/all_vendors" %>
</main>
