<h1> Markets </h1>

<%= link_to "Create a New Market", new_market_path %>


<table border "1">

<% @markets.each do |market| %>
  <tr>
    <td>
      <%= market.id %>
    </td>
    <td>
      <%= market.name %>
    </td>
    <td>
      <%= market.street_address %>
    </td>
    <td>
      <%= market.city %>
    </td>
    <td>
      <%= market.county %>
    </td>
    <td>
      <%= market.state %>
    </td>
    <td>
      <%= market.zip %>
    </td>
  </tr>
  <% end %>

</table>
