<body class="market-background">
  <h1>Markets</h1>
  <%= button_to "Create a New Market", new_market_path, method: :get %>
  <%= button_to "Sort by Market Name", sort_by_name_path, method: :get %>
  <%= button_to "Sort by State", sort_by_state_path, method: :get %>
  <div class="text_box">
    <table>
      <tr>
        <th>Market</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>County</th>
        <th>Zip</th>
        <th></th>
      </tr>
      <% @markets.to_a.each do |market| %>
      <tr>
        <td><%= link_to "#{market.name}", by_market_path(market.id), method: :get %></td>
        <td><%= market.address %></td>
        <td><%= market.city %></td>
        <td><%= market.state %></td>
        <td><%= market.county %></td>
        <td><%= market.zip %></td>
        <td><%= button_to "Edit Market", edit_market_path(market.id), method: :get, class: "inner_button" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</body>
