<%= button_to "Create a New Market", new_market_path, method: :get %>

<table>
  <tr>
    <th>Market</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>County</th>
    <th>Zip</th>
  </tr>
  <% @markets.to_a.each do |market| %>
  <tr>
    <td><%= link_to "#{market.name}", by_market_path(market.id), method: :get %></td>
    <td><%= market.address %></td>
    <td><%= market.city %></td>
    <td><%= market.state %></td>
    <td><%= market.county %></td>
    <td><%= market.zip %></td>
  </tr>
  <% end %>
</table>
