<h1>All Markets</h1>
<p>
  <%= link_to "+ Add a Market", new_market_path(:market_id) %>
</p>
<table>
  <thead>
    <tr>
      <th>
        Name <%= link_to "&#8595".html_safe, "/markets/name_sort" %>
      </th>
      <th>
        City
      </th>
      <th>
        State <%= link_to "&#8595".html_safe, "/markets/steate_sort" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% Market.all.each do |market|%>
    <tr>
      <td>
        <%= link_to "#{market.name}", market_path(market.id) %>
      </td>
      <td>
        <%= market.city%>
      </td>
      <td>
        <%= market.state %>
      </td>
      <td>
        <%= link_to "Edit", edit_market_path(market.id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
