<h1>All Markets</h1>
<p>
  <a href= "/markets/new">+ Add a market</a>
</p>
<table>
  <thead>
    <tr>
      <th>
        Name <%= button_to "&#8595".html_safe, "/markets/name_sort"%>
      </th>
      <th>
        City
      </th>
      <th>
        State
      </th>
    </tr>
  </thead>
  <tbody>
    <% Market.all.each do |market|%>
    <tr>
      <td>
        <%= link_to "#{market.name}", "/markets/#{market.id}" %>
      </td>
      <td>
        <%= market.city%>
      </td>
      <td>
        <%= market.state %>
      </td>
      <td>
        <%= link_to "Edit", "#{edit_market_path(market)}" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
