
<h1> Use this form to add a new Market</h1>
<%= form_for @new do |f| %>
<fieldset>
  <legend>Add a New Market </legend>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :county %>
  <%= f.text_field :county %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zip %>
  <%= f.text_field :zip %>

</fieldset>
<%=  f.submit "Add the Market" %>

<% end %>
<br>
<br>

  <a href="/markets/">Go Back to all Markets</a>
