<p>
  <%= link_to "<< return to market list", markets_path %>
</p>
<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        City
      </th>
      <th>
        State 
      </th>
    </tr>
  </thead>
  <tbody>
    <% @markets.each do |market|%>
    <tr>
      <td>
        <%= link_to "#{market.name}", market_path(market.id) %>
      </td>
      <td>
        <%= market.city%>
      </td>
      <td>
        <%= market.state %>
      </td>
      <td>
        <%= link_to "Edit", edit_market_path(market.id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
