<h1><%="#{@market.name}"%></h1>


<h3>Vendors</h3>
<ul>

</ul>

<h3>Market Attributes</h3>
<ul>
  <li>Address: <%=@market.address %></li>
  <li>City: <%=@market.city %></li>
  <li>County: <%=@market.county %></li>
  <li>State: <%=@market.state %></li>
  <li>Zipcode: <%=@market.zip %></li>
</ul>
