<h1><%="#{@market.name}"%></h1>


<h3>Vendors</h3>
<ul>
  <% @vendors.each do |vendor| %>
  <li><%= vendor.name %></li>
  <% end %>
</ul>

<%= link_to "Edit this Markets Vendor List", market_vendors_path(@market.id) %>

<h3>Market Attributes</h3>
<ul>
  <li>Address: <%=@market.address %></li>
  <li>City: <%=@market.city %></li>
  <li>County: <%=@market.county %></li>
  <li>State: <%=@market.state %></li>
  <li>Zipcode: <%=@market.zip %></li>
</ul>

<%= link_to "Edit Market Details", edit_market_path(@market.id) %>
<br>
<br>

  <a href="/markets/">Go Back to all Markets</a>
