<h2><%= @market.name %></h2>

<ul>
  <li>Address: <%= @market.address %></li>
  <li>City, State: <%= @market.city %>, <%= @market.state %></li>
  <li>Zip: <%= @market.zip %></li>
</ul>

<%= render "footer" %>
