<%= link_to "Back to markets", markets_path %>

<p>Market name: <%=@market.name  %></p>
<p>Address:
  <%=@market.address  %>,
  <%=@market.city  %>,
  <%=@market.county  %>,
  <%=@market.state  %>.
  <%=@market.zip  %></p>
  <% vendors = @market.vendors %>
<p>Vendors: <% vendors.each do |v| %>
  <%= v.name %>
  <% end %>
</p>

<%= link_to "Edit", edit_market_path %>
