<h1>Market Details</h1>

<%= render 'shared/show_market', { market: @market } %>

<%= link_to "Edit this market", edit_market_path, class: "button" %>

<h3>Vendors</h3>

<%= link_to "Create a new vendor for this market", new_market_vendor_path(@market),
  class: "button" %>

<ul>
  <% @market.vendors.each do |vendor| %>
    <li>
      <%= link_to vendor.name, market_vendor_path(@market, vendor) %>
      <%= link_to 'Edit', edit_market_vendor_path(@market, vendor),
        class: "inline_button" %>
      <%= button_to 'Delete', market_vendor_path(@market, vendor),
        class: "inline_button",
        method: :delete, 
        data: { confirm: "Are you sure you want to delete this vendor?" } %>
    </li>
  <% end %>
</ul>
