<h1><%="#{@market.name}"%></h1>


<h3>Vendors</h3>
<ul>
  <% @vendors.each do |vendor| %>
  <li><%= vendor.name %></li>
  <%= button_to "Delete Vendor!", "/markets/#{@market.id}/vendors/#{vendor.id}", method: :delete, data: { confirm: "Are You Sure You Want to Delete This Vendor?" } %>
  <% end %>
</ul>

<%= link_to "Add A Vendor to This Market", "/markets/#{@market.id}/vendors/new" %>

<h3>Market Attributes</h3>
<ul>
  <li>Address: <%=@market.address %></li>
  <li>City: <%=@market.city %></li>
  <li>County: <%=@market.county %></li>
  <li>State: <%=@market.state %></li>
  <li>Zipcode: <%=@market.zip %></li>
</ul>

<%= link_to "Edit Market Details", edit_market_path(@market.id) %>
<br>
<br>

  <a href="/markets/">Go Back to all Markets</a>
