<%= render "shared/header" %>
<main>
  <%= render "shared/each_market" %>
  <h3> <%= link_to "Edit Market", edit_market_path %> </h3>
  <h3> <%= link_to "Delete Market", market_path, method: :delete, data: { confirm: "Are you sure?"} %> </h3>
</main>
<%= render "shared/footer" %>
