<h1>Market </h1>


<%= render partial: "shared/market_details", locals: {

  details: {

    "Market ID"   => @market.id,
    "Market Name" => @market.name,
    "Address"     => @market.street_address,
    "City"        => @market.city,
    "State"       => @market.state,
    "Zip"         => @market.zip,
    "County"      => @market.county

  }
} %>



<%= button_to "Edit This Market", edit_market_path, method: :get %>
<% # Params in the below 'button_to' is used to pass on the current market id, so we can create a vendor with that specific market. %>
<br>
<%= button_to "Add a Vendor to This Market", new_vendor_path, {method: :get, params: {:market_id => @market.id}} %>

<h2>List of Vendors</h2>

<table border "1">

  <tr>
    <th>
      Vendor ID
    </th>
    <th>
      Vendor Name
    </th>
    <th>
      No. of Employees
    </th>
    <th>
      Market ID
    </th>

    <th>Edit?
    </th>

    <th>Delete?
    </th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td>
      <%= vendor.id %>
    </td>
    <td>
      <%= link_to "#{vendor.name}", vendor_path(vendor) %>
    </td>
    <td>
      <%= vendor.no_of_employees %>
    </td>
    <td>
      <%= vendor.market_id %>
    </td>
    <td>
      <%= button_to "Edit This Vendor", edit_vendor_path(vendor), method: :get %>
    </td>
    <td>
      <%= button_to "Delete This Vendor", vendor_path(vendor), method: :delete, data: {confirm: "are you sure you want to delete this vendor?"}  %>
    </td>

  </tr>
  <% end %>
</table>
<br>
