<div class="link_back"><%= link_to "Back to markets", markets_path %></div>

<p>Market name: <%=@market.name  %></p>
<p>Address:
  <%=@market.address  %>,
  <%=@market.city  %>,
  <%=@market.county  %>,
  <%=@market.state  %>.
  <%=@market.zip  %></p>
<%= link_to "Edit market", edit_market_path("#{@market.id}") %>


<p>"<%= "#{@market.name}" %>" has these vendors: </p>
    <ol>
      <% @vendors.each do |vendor| %>
        <li><%= link_to "#{vendor.name}", market_vendor_path("#{@market.id}", "#{vendor.id}")%></li>
        <% end %>
    </ol>
</p>

<p>
  <%= link_to "+ Vendor", new_market_vendor_path("#{@market.id}") %>
</p>
