<h1><%= @vendor.name %></h1>

<table>
<tr>
  <th>
    ID
  </th>
  <th>
    Name
  </th>
  <th>
    Employees
  </th>
  <th>
    Market ID
  </th>
  <% if current_page?(controller: 'markets', action: 'vendor_show')%>
    <th class="center">
      Edit
    </th>
  <% end %>
  <% if current_page?(controller: 'markets', action: 'vendor_show')%>
    <th class="center">
      Delete
    </th>
  <% end %>

</tr>
<tbody>

  <tr>
    <td>
      <%= @vendor.id %>
    </td>
    <td>
      <%= @vendor.name %>
    </td>
    <td>
      <%= @vendor.num_employees %>
    </td>
    <td>
      <%= @vendor.market_id %>
    </td>
    <% if current_page?(controller: 'markets', action: 'vendor_show')%>
      <td class="center">
        <%= link_to "Edit", edit_vendor_market_path(@market, @vendor) %>
      </td>
    <% end %>
    <% if current_page?(controller: 'markets', action: 'vendor_show')%>
      <td class="center">
        <%= button_to "Delete", { action: "vendors_destroy", vendor_id: @vendor.id, _destroy: true }, method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    <% end %>

  </tr>
</tbody>
</table>
