<h1> Market Detail for <%= @market.name %></h1>

<table>
  <thead>
    Details
  </thead>

  <tr>
    <th> ID </th>
    <th> Name </th>
    <th> Address </th>
    <th> City </th>
    <th> County </th>
    <th> State </th>
    <th> Zip </th>
    <th> Established </th>
  </tr>

  <tr>
    <td> <%= @market.id %> </td>
    <td> <%= @market.name %></td>
    <td> <%= @market.address %> </td>
    <td> <%= @market.city %> </td>
    <td> <%= @market.county %> </td>
    <td> <%= @market.state %> </td>
    <td> <%= @market.zip %> </td>
    <td> <%= @market.created_at %> </td>
  </tr>

</table>

<ul>
<% @market_vendors.each do |vendor| %>
  <li>
   <%= vendor.name %>
  </li>
</ul>

<% end %>