<h1>Welcome to FarMar</h1>
<h2> I am a... </h2>
<%= link_to "Market", "/markets" %>
<%= link_to "Vendor", "/vendor" %>



<table>
  <thead>
    Market List
  </thead>
  <th> ID </th>
  <th> Name </th>
  <th> Details </th>
  <% @all_markets.each do |market| %>
  <tr>
    <td> <%= market.id  %></td>
    <td> <%= market.name %></td>
    <td> <%= link_to "Details", "/markets/#{market.id}" %> </td>
  </tr>

  <% end %>

</table>
