<h1>Edit Product</h1>

<%= form_for @product, url: { action: "update"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vendor_id %>
  <%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name %>

  <%= f.submit %>

<% end %>
