<h1>Products sold by <%= @vendor.name %> </h1>
<p>
  <%= link_to "+ Add a Product", new_market_vendor_product_path %>
</p>
<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product|%>
    <tr>
      <td>
      <%= product.name %></a>
    </td>
    <td>
      <%= link_to "Edit", "#{product.id}/edit" %>
    </td>
    <td>
      <%= link_to "Delete", "/markets/#{@vendor.market_id}/vendors/#{@vendor.id}/products/#{product.id}", :method => :delete %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
