<%= render "shared/header" %>
<main>
  <table>
    <tr>
      <th>Product Id</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.id %> </td>
      <td><%= product.name %> </td>
      <td> <%= link_to "Edit Product", edit_vendor_product_path(product.vendor_id, product.id) %> </td>
      <td> <%= link_to "Delete Product", vendor_products_path, method: :delete, data: { confirm: "Are you sure?" } %> </td>
    </tr>
    <% end %>
  </table>
</main>

<h1> <%= link_to "Add Product", new_vendor_product_path %> </h1>
