<h2> <%= "#{@vendor.name}" %> </h2>

<h3>Products</h3>

  <ul>
    <% @vendor_products.each do |product| %>
      <li> <%= product.name %> <%= button_to "Delete Product!", "/vendors/#{@vendor.id}/products/#{product.id}", method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to "edit", edit_vendor_product_path(@vendor.id, product.id) %>
      </li>
    <% end %>
  </ul>

<%= link_to "Add a Product", new_vendor_product_path(@vendor.id) %>
<%= link_to "Back to #{@vendor.name}", vendor_path(@vendor.id) %>
