<h1>Products sold by <%= @vendor.name %> </h1>
<p>
<%= new_market_vendor_product_path %>
</p>
<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Id
      </th>
      <th>
        Vendor Id
      </th>
      <th>
        Edit Product
      </th>
      <th>
        Delete Product
      </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product|%>
      <tr>
        <td>
          <%= product.name %></a>
        </td>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= product.vendor_id %>
        </td>
        <td>
          <%= link_to "Edit", "#{product.id}/edit" %>
        </td>
        <td>
        <%= button_to "Delete", "#{product.id}", :method => :delete %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
