<h1>Products sold by <%= @vendor.name %> </h1>
<p>
  <a href=<%="/markets/#{@vendor.market_id}/vendors/#{@vendor.id}/products/new"%>>+ Add a Product</a>
</p>
<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Id
      </th>
      <th>
        Vendor Id
      </th>
      <th>
        Edit Product
      </th>
      <th>
        Delete Product
      </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product|%>
      <tr>
        <td>
          <%= product.name %></a>
        </td>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= product.vendor_id %>
        </td>
        <td>
          <a href= "">Edit</a>
        </td>
        <td>
          <a href= "">Delete</a>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
