<h2>Add a new product here!</h2>

<fieldset>
  <legend>Enter product name:</legend>
  <% @url = "/vendors/#{@vendor[:id]}/products" %>

  <%= form_for @product, url: @url, html: {class: "forms"} do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, required: :true %>

  <%= f.hidden_field :vendor_id, :value => "#{@vendor[:id]}" %>

  <%= f.submit %>

   <% end %>

</fieldset>
