<!-- Need to add current sales to test this. Will want to return
"You have no sales in the current month" or list of sales (.each in table) -->


<h1><%= @vendor.name %>:</h1>

<table>
  <tr>
    <th>Product Name</th>
    <th>Sale Amount</th>
    <th>Purchase Date/Time</th>
  </tr>

  <% @current_month.each do |sale| %>
    <tr>
        <td><%= sale.product.name %></td>
        <td>$<%= sale.amount %></td>
        <td><%= sale.purchase_time %></td>
        </td>
    </tr>
  <% end %>

  <tr>
    <td><h3>Total Sales in Current Month: $<%= Sale.current_month_total(@current_month) %></h3></td>
  </tr>
</table>
