<h1>Sales for</h1>
<h1><%= @vendor.name %>:</h1>

<table>
  <tr>
    <th>Sale Amount</th>
    <th>Purchase Date/Time</th>
  </tr>

  <% @sales.each do |sale| %>
    <tr>
        <td>$<%= sale.amount %></td>
        <td><%= sale.purchase_time %></td>
        </td>
    </tr>
  <% end %>

  <tr>
    <td><h3>Total Sales: $<%= Vendor.total_sales(@vendor) %></h3></td>
  </tr>
</table>

<%= button_to "View Sales From The Past Month", current_month_vendor_sales_path, method: :get, class: "button" %>
