<% content_for :breadcrumbs do %>
  <%= render partial: "/vendors/dashboard" %>
<% end %>

<header>
  <h1>All Sales</h1>
</header>

<div class="sales-wrapper">
  <h4><%= link_to "View this Month's Sales", "./sales/current", title: "Click here to review this month's sales." %></h4>
  <h4><%= link_to "+ Sale", "./sales/new", title: "Add a new sale for this vendor." %></h4>

  <section class="all-sales">
    <table>
      <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.product.name %></td>
          <td>$<%= sale.dollar_amount %></td>
          <td><%= sale.date %></td>
          <td><%= sale.time %></td>
        </tr>
    <% end %>
    </table>
  </section>
</div>
