<%= @sale.errors.messages[:not_money] %>

<body class="vendor-background">
  <h1>Create a New Sale</h1>
  <div class="text_box">
    <%= form_for @sale, url: vendor_sales_path, method: :post do |f| %>
    <%= f.label :amount %>
    <%= f.text_field :amount %>

    <%= f.label :purchase_time %>
    <%= f.date_field :purchase_time, default: Time.now %>

    <%= f.label :products %>
    <%= f.collection_select :product_id, @products, :id, :name %>

    <%= f.hidden_field :vendor_id, :value => params[:vendor_id] %>

    <%= f.submit %>
    <% end %>
  </div>
</body>
