<!DOCTYPE html>
<html>
  <head>
    <title>C3ProjectsFarmarrails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Roboto:100,300,500|Old+Standard+TT:400,700' rel='stylesheet' type='text/css'>
  </head>

  <div class="container">
    <header id= "top">
      <% num = rand(1..8) %>
      <%= image_tag(asset_path("FarMarBanner#{num}")) %>
    </header>

    <body>
    <%= yield %>
    </body>

    <footer>
      <%= link_to "Top", "#top" %> |
      <%= link_to "Home", "/" %> |
      <%= link_to "Markets", "/markets" %> |
      <%= link_to "Vendors", "/vendors" %>
    </footer>

  </div>
</html>
