<!DOCTYPE html>
<html>
<head>
  <title>C3ProjectsFarmarrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <% unless current_page?(root_path) %>
      <nav>
          <%= button_to "Home", root_path, method: :get, class: "button" %>
          <%= button_to "Go to Markets", markets_path, method: :get, class: "button" %>
          <%= button_to "Go to Vendors", vendors_path, method: :get, class: "button" %>
      </nav>
    <% end %>
  </header>
    <%= yield %>
</body>
</html>
