<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails -- adh+js/master</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <%= link_to "View all markets", "/markets", title: "View all markets." %>
      <%= link_to "Log out", "/", title: "Log out of your dashboard." %>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

</body>
</html>
