<!DOCTYPE html>
<html>
<head>
  <title>C3ProjectsFarmarrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="test">
  <h1>
<%= link_to "BewMar Headquarters", root_path %>
  </h1>
<%= yield %>
  </div>

</body>
</html>
