<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails -- adh+js/master</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-left">
      <%= link_to "View all markets", "/markets", title: "View all markets." %>
    </div>
    <div class="nav-right">
      <% id = params[:id] || params[:market_id] || params[:vendor_id] || false %>
      <%= link_to id ? "Log out" : "Log in", "/", title: id ? "Log out of your account." : "Log in to your account." %>
    </div>
  </nav>
  <%= yield :dashboard_nav %>

  <main>
    <%= yield %>
  </main>

</body>
</html>
